<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FasType</title>
    <link rel="stylesheet" href="stylesheets/anal.css">
</head>
<body>
    <div class="navbar">
        <a href="/"><button class="btn_home">Home</button></a>&nbsp;&nbsp;&nbsp;
        <a href=""><button class="logout">Logout</button></a>
    </div>
    <div class="heading"><h2>ANALYSIS</h2><br>
        <h4>We provide you with all of your performance history so you can keep track of your progress.<br>
        Keep an eye out on improving your accuracy and maintaining an average of more than 96% !</h4>
    </div>
    <div class="main">
        <div class="left">
            <div class="sped">
            </div>
            <div class="wrapper">
                <div class="chartContainer" style="width: 200px; height: 200px;">
                    <canvas id="myChart1" width="200" height="200"></canvas>
                </div>
                <h1><br><br>Average WPM : <span id="avgWPM"></span></h1>
            </div>
        </div>
        <div class="right">
            <div class="acu">
            </div>
            <div class="wrapper">
                <div class="chartContainer" style="width: 200px; height: 200px;">
                    <canvas id="myChart2" width="200" height="200"></canvas>
                </div>
                <h1><br><br>Average Accuracy : <span id="avgAccuracy"></span></h1><br>
            </div>
        </div>
    </div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.0.2/chart.min.js" integrity="sha512-dnUg2JxjlVoXHVdSMWDYm2Y5xcIrJg1N+juOuRi0yLVkku/g26rwHwysJDAMwahaDfRpr1AxFz43ktuMPr/l1A==" crossorigin="anonymous"></script>
<script>
var ctx = document.getElementById('myChart1')
var ctx2 = document.getElementById('myChart2')
var labels = [];
var data = [];
var accuData = [];
let userData=<%-JSON.stringify(userData)%>;
console.log(userData);
let scoreLength = userData.scores.length;
let avgWPM=0;
let avgAccu = 0;
for(let i=0; i<scoreLength; i++)
{
    avgWPM += parseFloat(userData.scores[i].wpm);
    avgAccu += parseFloat(userData.scores[i].accuracy);
}
console.log(avgWPM);
avgWPM /= scoreLength;
avgAccu /= scoreLength;
document.getElementById('avgWPM').innerText= avgWPM.toFixed(2);
document.getElementById('avgAccuracy').innerText= avgAccu.toFixed(2);
if(scoreLength<10)
{
    for(let i=0; i<scoreLength; i++)
    {
        data.push(userData.scores[i].wpm);
        accuData.push(userData.scores[i].accuracy);
        labels.push(i+1);
    }
}
else
{
    for(let i=scoreLength-10; i<scoreLength; i++)
    {
        data.push(userData.scores[i].wpm);
        accuData.push(userData.scores[i].accuracy);
        labels.push(i-scoreLength+11);
    }
}
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: labels,
        datasets: [{
            label: 'WPM',
            data: data,
            backgroundColor: [
                'rgba(54, 162, 235, 0.2)',
            ],
            borderColor: [
                'rgba(54, 162, 235, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
var myChart2 = new Chart(ctx2, {
    type: 'bar',
    data: {
        labels: labels,
        datasets: [{
            label: 'Accuracy',
            data: accuData,
            backgroundColor: [
                'rgba(54, 162, 235, 0.2)',
            ],
            borderColor: [
                'rgba(54, 162, 235, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>

</html>
