<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" defer></script>
    <script src="/javascripts/endlessScript.js" defer></script>
    <title>FasType</title>
</head>
<body>
    <div class="maindiv">
        <br><br><br>
        <div class="timer" id="timer">0</div><br>
        <div class="container">
            <div class="quote-display" id="quoteDisplay"></div>
            <textarea class="quote-input" id="quoteInput" autofocus></textarea>
        </div><br>
        <div class="startButton">
            <button id="startButton" class="btn1" onclick="renderNewQuote()"><strong>START</strong></button>&nbsp;&nbsp;&nbsp;
            <button class="btn1" id="endButton" onclick="endTime()"><strong>END</strong></button>
        </div>
        <div class="analysis" id="analysis">
                <h1 class="analhead">ANALYSIS</h1><br>
                <table class="analcon">
                <tr><td>Total Words Typed: </td><td>&nbsp;&nbsp;&nbsp;<span id="wordsTyped"></span></td></tr>
                <tr><td>Total Time Taken: </td><td>&nbsp;&nbsp;&nbsp;<span id="timeTaken"></span> seconds</td></tr>
                <tr><td>Words Per Minute: </td><td>&nbsp;&nbsp;&nbsp;<span id="WPM"></span></td></tr>
                <tr><td>Keystroke Errors: </td><td>&nbsp;&nbsp;&nbsp;<span id="keystrokeErrors"></span></td></tr>
                <tr><td>Wrong Words Typed: </td><td>&nbsp;&nbsp;&nbsp;<span id="wordErrors"></span></td></tr>
                <tr><td>Accuracy: </td><td>&nbsp;&nbsp;&nbsp;<span id="accuracy"></span>%</td></tr>
            </table>
            <br>
            <a href="/"><button class="btn1">Home</button></a>
        </div>
    </div>
</body>
</html>
