<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Lessons</title>
		<link rel="stylesheet" href="/stylesheets/lesson_home.css">
	</head>
	<body>
		<div class="navbar">
			<a href="/"><button class="btn_home">Home</button></a>&nbsp;&nbsp;&nbsp;
			<a href=""><button class="logout">Logout</button></a>
		</div>
		<div class="heading"><h2>LESSONS</h2><br>
			<h4>Hello Guest User and welcome to our free lessons! We provide you a step-by-step guide
			to master typing with an interactive menu<br>which gives a live feedback of your
		    performance. Start with the home row and pave your way to mastering
		    every single alphabet!</h4>
		</div>
		<div class="main">
			<div class="wrapper">
				<a href="/lessons/L1"><div class="btn_les"><span class="span1">Lesson 1</span><br>
					<span class="span2">2 Signs - FJ</span>
					<span class="info" title="Get Started! Use left index finger&#10;for F and right index finger for J">?</span><br>
					<span class="span3">&nbsp;&nbsp;&starf;</span>
				</div></a>
				<a href="/lessons/L2"><div class="btn_les"><span class="span1">Lesson 2</span><br>
					<span class="span2">4 Signs - FJDK</span>
					<span class="info" title="Now include left middle finger&#10;for D and right middle finger for K">?</span><br>
					<span class="span3">&nbsp;&nbsp;&starf;</span>
				</div></a>
			</div>
			<div class="wrapper">
				<a href="/lessons/L3"><div class="btn_les"><span class="span1">Lesson 3</span><br>
					<span class="span2">6 Signs - FJDKSL</span>
					<span class="info" title="Now include left ring finger&#10;for S and right ring finger for L">?</span><br>
					<span class="span3">&nbsp;&nbsp;&starf;</span>
				</div></a>
				<a href="/lessons/L4"><div class="btn_les"><span class="span1">Lesson 4</span><br>
					<span class="span2">8 Signs - FJDKSLA;</span>
					<span class="info" title="Pinkies are tricky! Left pinky&#10;for A and right pinky for ;">?</span><br>
					<span class="span3">&nbsp;&nbsp;&starf;&starf;</span>
				</div></a>
			</div>
			<div class="wrapper">
				<a href="/lessons/L5"><div class="btn_les"><span class="span1">Lesson 5</span><br>
					<span class="span2">10 Signs - Home row</span>
					<span class="info" title="Extend your Left index finger&#10;for G and right index for H">?</span><br>
					<span class="span3">&nbsp;&nbsp;&starf;&starf;</span>
				</div></a>
				<a href="/lessons/L6"><div class="btn_les"><span class="span1">Lesson 6</span><br>
					<span class="span2">12 Signs - Home Row + TY</span>
					<span class="info" title="Extend your Left index finger&#10;for T and right index for Y">?</span><br>
					<span class="span3">&nbsp;&nbsp;&starf;&starf;</span>
				</div></a>
			</div>
			<div class="wrapper">
				<a href="/lessons/L7"><div class="btn_les"><span class="span1">Lesson 7</span><br>
					<span class="span2">14 Signs - Home row + TYBN</span>
					<span class="info" title="Extend your Left index finger&#10;for B and right index for N">?</span><br>
					<span class="span3">&nbsp;&nbsp;&starf;&starf;&starf;</span>
				</div></a>
				<a href="/lessons/L8"><div class="btn_les"><span class="span1">Lesson 8</span><br>
					<span class="span2">16 Signs - Home Row + TYBNRU</span>
					<span class="info" title="Extend your Left index finger&#10;for R and right index for U">?</span><br>
					<span class="span3">&nbsp;&nbsp;&starf;&starf;&starf;</span>
				</div></a>
			</div>
			<div class="wrapper">
				<a href="/lessons/L9"><div class="btn_les"><span class="span1">Lesson 9</span><br>
					<span class="span2">18 Signs - Home row + TYBNRUVM</span>
					<span class="info" title="Extend your Left index finger&#10;for V and right index for M">?</span><br>
					<span class="span3">&nbsp;&nbsp;&starf;&starf;&starf;</span>
				</div></a>
				<a href="/lessons/L10"><div class="btn_les"><span class="span1">Lesson 10</span><br>
					<span class="span2">20 Signs - Home row + TYBNRUVMEI</span>
					<span class="info" title="Extend your Left middle finger&#10;for E and right middle for I">?</span><br>
					<span class="span3">&nbsp;&nbsp;&starf;&starf;&starf;&starf;</span>
				</div></a>
			</div>
			<div class="wrapper">
				<a href="/lessons/L11"><div class="btn_les"><span class="span1">Lesson 11</span><br>
					<span class="span2">22 Signs - Home row + TYBNRUVMEIC,</span>
					<span class="info" title="Extend your Left middle finger&#10;for C and right middle for ,">?</span><br>
					<span class="span3">&nbsp;&nbsp;&starf;&starf;&starf;&starf;</span>
				</div></a>
				<a href="/lessons/L12"><div class="btn_les"><span class="span1">Lesson 12</span><br>
					<span class="span2">24 Signs - Home row + TYBNRUVMEIC,WO</span>
					<span class="info" title="Extend your Left ring finger&#10;for C and right ring for ,">?</span><br>
					<span class="span3">&nbsp;&nbsp;&starf;&starf;&starf;&starf;</span>
				</div></a>
			</div>
			<div class="wrapper">
				<a href="/lessons/L13"><div class="btn_les"><span class="span1">Lesson 13</span><br>
					<span class="span2">26 Signs - Home row + TYBNRUVMEIC,WOX.</span>
					<span class="info" title="Extend your Left ring finger&#10;for X and right ring for .">?</span><br>
					<span class="span3">&nbsp;&nbsp;&starf;&starf;&starf;&starf;&starf;</span>
				</div></a>
				<a href="/lessons/L14"><div class="btn_les"><span class="span1">Lesson 14</span><br>
					<span class="span2">28 Signs - Home & Top Row + BNVMC,X.</span>
					<span class="info" title="Extend your Left pinky&#10;for Q and right pinky for P">?</span><br>
					<span class="span3">&nbsp;&nbsp;&starf;&starf;&starf;&starf;&starf;</span>
				</div></a>
			</div>
			<div class="wrapper">
				<a href="/lessons/L15"><div class="btn_les"><span class="span1">Lesson 15</span><br>
					<span class="span2">30 Signs - All 3 rows</span>
					<span class="info" title="Extend your Left pinky&#10;for Z and right pinky for /">?</span><br>
					<span class="span3">&nbsp;&nbsp;&starf;&starf;&starf;&starf;&starf;</span>
				</div></a>
				<a href="/lessons/L16"><div class="btn_les"><span class="span1">Lesson 16</span><br>
					<span class="span2">30 Signs - All 3 rows words</span>
					<span class="info" title="Extend your Left pinky&#10;for Z and right pinky for /">?</span><br>
					<span class="span3">&nbsp;&nbsp;&starf;&starf;&starf;&starf;&starf;</span>
				</div></a>
			</div>

		</div>
	</body>
</html>
