<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FasType</title>
</head>
<body>
    <a href="/practice/timed1">1 min</a><br>
    <a href="/practice/timed2">2 min</a><br>
    <a href="/practice/timed5">5 min</a><br>
</body>
</html>