<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FasType</title>
    <link rel="stylesheet" href="/stylesheets/homepage.css">
</head>
<body>
    <div class="practise">
        <h1>PRACTICE<br>MODE</h1>
        <br><br><h3>Improve your typing skills at your own pace with a set duration of minutes, or sit back
         and enjoy typing with our endless mode. Get an overall analysis at the end of your session.</h3>
         <br><br><br>&nbsp;&nbsp;&nbsp;&nbsp;
         <a href="/practice/timed1"><button class="btn1"><strong>1 &nbsp;MIN</strong></button></a>&nbsp;&nbsp;&nbsp;&nbsp;
         <a href="/practice/timed2"><button class="btn1"><strong>2 &nbsp;MIN</strong></button></a><br><br>&nbsp;&nbsp;&nbsp;&nbsp;
         <a href="/practice/timed5"><button class="btn1"><strong>5 &nbsp;MIN</strong></button></a>&nbsp;&nbsp;&nbsp;&nbsp;
         <a href="/practice/endless"><button class="btn1"><strong>ENDLESS</strong></button></a><br><br>
         <a href="/practice/instaDeath" style="margin-left: 8rem;"><button class="btn1"><strong>InstaDeath!</strong></button></a><br><br>
    </div>
    <div class="game">
        <h2>GAME<br>MODE</h2>
        <br><h3 class="gam">Enter the gaming mode where you complete levels of increasing difficulty and
        climb the ladder in a challenging way. Beat the high score and dominate the leaderboard !</h3>
        <br><br><br>&nbsp;&nbsp;<a href=""><button class="btn2"><strong>START</strong></button></a>
    </div>

</body>
</html>
