* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        vertical-align: baseline;
        background: transparent;
		-moz-box-sizing: border-box;
    	-webkit-box-sizing: border-box;
     	box-sizing: border-box;
    }

html,body{
	height: 100%;
}

@font-face {
  font-family: mainHeader;
  src: url(/fonts/GentonaBold.otf);
}

@font-face {
  font-family: contentfont;
  src: url(/fonts/Quicksand.ttf);
}

div.practise{
	display: block;
	float: left;
	width:50%;
	height:100%;
	padding: 60px;
	padding-top: 100px;
	background:
	linear-gradient(
      rgba(220, 220, 220, 0.25),
      rgba(220, 220, 220, 0.25)
    ),url(/images/practise_bg.jpg);
	background-size:cover;
}

div.game{
	display:block;
	float: right;
	width:50%;
	height:100%;
	padding: 60px;
	padding-top: 100px;
	background:
	linear-gradient(
		rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ),url(/images/game_bg.jpg);
	background-size: cover;
}

h1{
	font-family: mainHeader;
	font-size: 70px;
	color: rgb(60,60,60);
}

h2{
	font-family: mainHeader;
	font-size: 70px;
	color: white;
}

h3{
	font-family: contentfont;
	color: rgb(60,60,60);
}

h3.gam{
	font-family: contentfont;
	color: white;
}

.btn1{
	width: 200px;
	height: 60px;
	background-color: transparent;
	color:rgb(60,60,60);
	letter-spacing: 2px;
	border:3px solid black;
	padding: 10px;
	border-radius: 15px;
	font-family: contentfont;
	font-size: 17px;
}

.btn1:hover{
	background-color:rgb(60,60,60);
	color: white;
	border:3px solid rgb(60,60,60);;
}

.btn2{
	width: 200px;
	height: 60px;
	background-color: transparent;
	color:white;
	letter-spacing: 2px;
	border:3px solid white;
	padding: 10px;
	border-radius: 15px;
	font-family: contentfont;
	font-size: 17px;
}

.btn2:hover{
	background-color:white;
	color: black;
}
