<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Lessons</title>
		<link rel="stylesheet" href="/stylesheets/lesson_home.css">
	</head>
	<body>
		<div class="navbar">
			<a href="/"><button class="btn_home">Home</button></a>&nbsp;&nbsp;&nbsp;
			<a href=""><button class="logout">Logout</button></a>
		</div>
		<div class="heading"><h2>GAME MODE</h2><br>
			<h4>Hello Guest User and welcome to our Game Mode! Get Ready to be in a typing car Race: The fastest Typer Wins!!<br>
                The paragraphs get more difficult and the CPU gets faster as the level Increases. Play the different Levels and try to get your name on the FasType Game Mode Leaderboard! 
            </h4>
		</div>
		<div class="main">
			<div class="wrapper">
				<a href="/game/game1"><div class="btn_les"><span class="span1">Level 1</span><br>
					<span class="span2">20wpm</span>
					<span class="info" title="Get Started! Use left index finger&#10;for F and right index finger for J">?</span><br>
					<span class="span3">&nbsp;&nbsp;&starf;</span>
				</div></a>
				<a href="/game/game2"><div class="btn_les"><span class="span1">Level 2</span><br>
					<span class="span2">25wpm</span>
					<span class="info" title="Now include left middle finger&#10;for D and right middle finger for K">?</span><br>
					<span class="span3">&nbsp;&nbsp;&starf;</span>
				</div></a>
			</div>
			<div class="wrapper">
				<a href="/game/game3"><div class="btn_les"><span class="span1">Level 3</span><br>
					<span class="span2">30wpm</span>
					<span class="info" title="Now include left ring finger&#10;for S and right ring finger for L">?</span><br>
					<span class="span3">&nbsp;&nbsp;&starf;</span>
				</div></a>
				<a href="/game/game4"><div class="btn_les"><span class="span1">Level 4</span><br>
					<span class="span2">40wpm</span>
					<span class="info" title="Pinkies are tricky! Left pinky&#10;for A and right pinky for ;">?</span><br>
					<span class="span3">&nbsp;&nbsp;&starf;&starf;</span>
				</div></a>
			</div>
			<div class="wrapper">
				<a href="/game/game5"><div class="btn_les"><span class="span1">Level 5</span><br>
					<span class="span2">45wpm</span>
					<span class="info" title="Extend your Left index finger&#10;for G and right index for H">?</span><br>
					<span class="span3">&nbsp;&nbsp;&starf;&starf;</span>
				</div></a>
				<a href="/game/game6"><div class="btn_les"><span class="span1">Level 6</span><br>
					<span class="span2">50 wpm : Master</span>
					<span class="info" title="Extend your Left index finger&#10;for T and right index for Y">?</span><br>
					<span class="span3">&nbsp;&nbsp;&starf;&starf;</span>
				</div></a>
			</div>
		</div>
	</body>
</html>
